# Node
*/node_modules/
.pnpm-store/

# Build outputs
ui/build/
ui/.svelte-kit/
ui/dist/
api/dist/
api/.tsbuildinfo
*.tar

#e2e tests results
e2e/test-results

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
*.local

# Editor
.vscode/
.idea/
.DS_Store

# SQLite data
/data/*.db
/data/*.db-* 
