services:
  e2e:
    build:
      context: ./e2e
      dockerfile: Dockerfile
    volumes:
      - ./e2e/tests:/app/tests
    depends_on:
      - postgres
      - api
      - ui
    command: sleep 1800
