name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY: ${{ secrets.REGISTRY }}

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      global: ${{ steps.filter.outputs.global }}
      api: ${{ steps.filter.outputs.api }}
      scheduler: ${{ steps.filter.outputs.scheduler }}
      workers: ${{ steps.filter.outputs.workers }}
      ui: ${{ steps.filter.outputs.ui }}
      ai: ${{ steps.filter.outputs.ai }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            global:
              - 'Makefile'
              - 'docker-compose.yml'
              - 'docker-compose.test.yml'
              - '.github/workflows/ci.yml'
              - 'e2e/**'
            api:
              - 'api/**'
            ui:
              - 'ui/**'

  # Build API Docker image
  build-e2e:
    runs-on: ubuntu-latest
    needs: [changes]
    if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Build e2e image
        run: make build-e2e
      - name: Save e2e image as artifact
        run: make save-e2e
      - name: Upload e2e image artifact
        uses: actions/upload-artifact@v4
        with:
          name: e2e-image
          path: e2e-image.tar

  # Build API Docker image
  build-api:
    runs-on: ubuntu-latest
    needs: [changes]
    if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Build API image
        env:
          REGISTRY: ${{ secrets.REGISTRY }}
        run: make build-api
      - name: Unit and integration Test API
        run: make test-api
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
      - name: Save API image as artifact
        run: make save-api
      - name: Upload API image artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-image
          path: api-image.tar

  # Build & Unit Test UI
  build-ui:
    runs-on: ubuntu-latest
    needs: [changes]
    if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Build UI image
        run: make build-ui
      - name: Unit Test UI
        run: make test-ui
      - name: Save UI image as artifact
        run: make save-ui
      - name: Upload UI image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ui-image
          path: ui-image.tar
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ui/build/

  test-e2e:
    runs-on: ubuntu-latest
    needs: [changes, build-api, build-ui, build-e2e]
    if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Download API image artifact
        uses: actions/download-artifact@v4
        with:
          name: api-image
          path: .
      - name: Load API image from artifact
        run: make load-api
      - name: Download UI image artifact
        uses: actions/download-artifact@v4
        with:
          name: ui-image
          path: .
      - name: Load UI image from artifact
        run: make load-ui
      - name: Download e2e image artifact
        uses: actions/download-artifact@v4
        with:
          name: e2e-image
          path: .
      - name: Load e2e image from artifact
        run: make load-e2e
      - name: Test e2e API & UI
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
        run: make test-e2e

  publish-api-image:
    runs-on: ubuntu-latest
    needs: [changes, test-e2e]
    if: (needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true')
    # if: (needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true') && github.ref == 'refs/heads/main'
    env:
      DOCKER_USERNAME: nologin
      DOCKER_PASSWORD: ${{ secrets.SCW_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Debug API version in publish step
        run: |
          make version
          make version-debug-api
      - name: Check if API image is up to date
        id: image-check
        run: make check-api-image
        continue-on-error: true
      - name: Download API image artifact
        if: steps.image-check.outcome == 'failure'
        uses: actions/download-artifact@v4
        with:
          name: api-image
          path: .
      - name: Load API image from artifact
        if: steps.image-check.outcome == 'failure'
        run: make load-api
      - name: Publish API image
        if: steps.image-check.outcome == 'failure'
        run: make publish-api-image

  # Deploy UI
  deploy-ui:
    runs-on: ubuntu-latest
    needs: [changes, test-e2e]
    if: ( needs.changes.outputs.ui == 'true' || needs.changes.outputs.global )
    # if: ( needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

  # Deploy API
  deploy-api:
    runs-on: ubuntu-latest
    needs: [changes, publish-api-image]
    if: ( needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true' )
    # if: ( needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Use Scaleway CLI
        uses: scaleway/action-scw@v0
        with:
          save-config: true
          export-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_ORGANIZATION_ID }}
      - name: Deploy API
        run: make deploy-api