name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY: ${{ secrets.REGISTRY }}
  ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      global: ${{ steps.filter.outputs.global }}
      api: ${{ steps.filter.outputs.api }}
      scheduler: ${{ steps.filter.outputs.scheduler }}
      workers: ${{ steps.filter.outputs.workers }}
      ui: ${{ steps.filter.outputs.ui }}
      ai: ${{ steps.filter.outputs.ai }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            global:
              - 'Makefile'
              - 'docker-compose.yml'
              - 'docker-compose.test.yml'
              - '.github/workflows/ci.yml'
              - 'e2e/**'
            api:
              - 'api/**'
            ui:
              - 'ui/**'

  # Build E2E Docker image
  build-e2e:
    runs-on: ubuntu-latest
    needs: [changes]
    env:
      DOCKER_USERNAME: nologin
      DOCKER_PASSWORD: ${{ secrets.SCW_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
      - name: Setup Docker
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Check if E2E image is up to date
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        id: check-e2e-image
        run: make check-e2e-image
        continue-on-error: true
      - name: Build e2e image         
        if: steps.check-e2e-image.outcome == 'failure' && (needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true')
        run: make build-e2e
      - name: Publish API image
        if: steps.check-e2e-image.outcome == 'failure' && (needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true')
        run: make publish-e2e-image

  # Build API Docker image
  build-api:
    runs-on: ubuntu-latest
    needs: [changes]
    steps:
      - uses: actions/checkout@v4
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
      - name: Setup Docker
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Build API image
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        run: make build-api
      - name: Save API image as artifact
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        run: make save-api
      - name: Upload API image artifact
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: api-image
          path: api-image.tar
      - name: Unit and integration Test API
        if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
        run: make test-api
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
      - name: Show API logs on failure
        if: failure() && (needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true')
        run: make logs-api

  # Build & Unit Test UI
  build-ui:
    runs-on: ubuntu-latest
    needs: [changes]
    steps:
      - uses: actions/checkout@v4
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
      - name: Setup Docker
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Build UI image
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        run: make build-ui-image
      - name: Save UI image as artifact
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        run: make save-ui
      - name: Unit Test UI
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        run: make test-ui
      - name: Upload UI image artifact
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: ui-image
          path: ui-image.tar
      - name: Build UI
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        run: make build-ui
        env:
          VITE_API_BASE_URL: https://top-ai-ideas-api.sent-tech.ca/api/v1
      - name: Upload static files as artifact
        if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true'
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ui/build/

  test-e2e:
    runs-on: ubuntu-latest
    needs: [changes, build-api, build-ui, build-e2e]
    if: needs.changes.outputs.ui == 'true' || needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    env:
      DOCKER_USERNAME: nologin
      DOCKER_PASSWORD: ${{ secrets.SCW_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Pull if API image is up to date
        id: check-api-image
        run: make pull-api-image
        continue-on-error: true
      - name: Download API image artifact
        if: steps.check-api-image.outcome == 'failure'
        uses: actions/download-artifact@v4
        with:
          name: api-image
          path: .
      - name: Load API image from artifact
        if: steps.check-api-image.outcome == 'failure'
        run: make load-api
      - name: Pull if UI image is up to date
        id: check-ui-image
        run: make pull-ui-image
        continue-on-error: true
      - name: Download UI image artifact
        if: steps.check-ui-image.outcome == 'failure'
        uses: actions/download-artifact@v4
        with:
          name: ui-image
          path: .
      - name: Load API image from artifact
        if: steps.check-api-image.outcome == 'failure'
        run: make load-api
      - name: Pull e2e image artifact
        run: make pull-e2e-image
      - name: Test e2e API & UI
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
        run: make test-e2e

  test-smoke-restore:
    runs-on: ubuntu-latest
    needs: [changes, build-api, build-ui, build-e2e]
    if: needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Backup production database
        env:
          DATABASE_URL_PROD: ${{ secrets.DATABASE_URL_PROD }}
        run: make db-backup-prod
      - name: Test restore and smoke tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
        run: make db-restore up-api-test test-api-smoke-restore BACKUP_FILE=$(ls -t data/backup/prod-*.dump | head -1 | xargs basename) SKIP_CONFIRM=true

  publish-ui-image:
    runs-on: ubuntu-latest
    needs: [changes, test-e2e]
    if: (needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true') && github.ref == 'refs/heads/main'
    env:
      DOCKER_USERNAME: nologin
      DOCKER_PASSWORD: ${{ secrets.SCW_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Check if UI image is up to date
        id: image-check
        run: make check-ui-image
        continue-on-error: true
      - name: Download UI image artifact
        if: steps.image-check.outcome == 'failure'
        uses: actions/download-artifact@v4
        with:
          name: ui-image
          path: .
      - name: Load UI image from artifact
        if: steps.image-check.outcome == 'failure'
        run: make load-ui
      - name: Publish UI image
        if: steps.image-check.outcome == 'failure'
        run: make publish-ui-image

  publish-api-image:
    runs-on: ubuntu-latest
    needs: [changes, test-e2e, test-smoke-restore]
    if: (needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true') && github.ref == 'refs/heads/main'
    env:
      DOCKER_USERNAME: nologin
      DOCKER_PASSWORD: ${{ secrets.SCW_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Check if API image is up to date
        id: image-check
        run: make check-api-image
        continue-on-error: true
      - name: Download API image artifact
        if: steps.image-check.outcome == 'failure'
        uses: actions/download-artifact@v4
        with:
          name: api-image
          path: .
      - name: Load API image from artifact
        if: steps.image-check.outcome == 'failure'
        run: make load-api
      - name: Publish API image
        if: steps.image-check.outcome == 'failure'
        run: make publish-api-image

  # Deploy API
  deploy-api:
    runs-on: ubuntu-latest
    needs: [changes, publish-api-image]
    steps:
      - uses: actions/checkout@v4
        if: ( needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
      - name: Use Scaleway CLI
        if: ( needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
        uses: scaleway/action-scw@v0
        with:
          save-config: true
          export-config: true
          version: v2.24.0
          access-key: ${{ secrets.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ secrets.SCW_PROJECT_ID }}
          default-organization-id: ${{ secrets.SCW_ORGANIZATION_ID }}
      - name: Deploy API
        if: ( needs.changes.outputs.api == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
        run: make deploy-api

  # Deploy UI
  deploy-ui:
    runs-on: ubuntu-latest
    needs: [changes, deploy-api]
    if: ( needs.changes.outputs.ui == 'true' || needs.changes.outputs.global == 'true' ) && github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
